<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="styles/main.css">
    <title>Christopher McGregor</title>
  </head>
  <body>
    <div id="about-me">
      <div class="row pt-5 justify-content-center">
        <div class="col-12 text-center">
          <h1>Howdy, I'm Christopher McGregor</h1>
        </div>
      </div>
      <div class="underline"></div>
      <div class="row justify-content-center mt-5">
        <div class="profile-pic col-3">
          <img src="imgs/me.jpg">
        </div>
        <div class="col-4 text-center mt-5">
          <h5>I'm <span class="name-emphasis">Christopher</span>, a senior computer science student here at Texas A&M.
            I'm in CSCE445 (computers and new media) becuase I want to see the evolution and influence of media. I hope that I can
            change it for the better once I graduate and am in the workplace.
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="pl-5 pt-3">Class Links</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-3 col-sm-12 text-center p-3 experience"><a href="#">Coming Soon</a></div>
        <div class="col-md-3 col-sm-12 text-center p-3 experience"><a href="#">Coming Soon</a></div>
        <div class="col-md-3 col-sm-12 text-center p-3 experience"><a href="#">Coming Soon</a></div>
        <!-- <div class="col-3 text-center p-3 experience">Words</div> -->
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="pl-5">Media I Use</h2>
        </div>
      </div>
      <div class="flex">
        <div class="bar flex">
          <div class="bar-fill" style="width:82%"><span>Gaming(Steam) - Fighting games, FPS, Puzzles</span></div>
        </div>
        <div class="bar flex">
          <div class="bar-fill" style="width:90%"><span>TV / Movies(YouTube) - Gaming channels, Technology Channels</span></div>
        </div>
        <div class="bar flex">
          <div class="bar-fill" style="width:92%"><span>Music(Spotify) - House Music</span></div>
        </div>
        <div class="bar flex">
          <div class="bar-fill" style="width:87%"><span>Social(Phone Apps) - Call, text, email, Instagram, Snapchat</span></div>
        </div>
        <div class="bar flex">
          <div class="bar-fill" style="width:85%"><span>Reading(Books) - NonFiction, Fantasy</span></div>
        </div>
        <!-- <div class="bar flex">
          <div class="bar-fill" style="width:91%"><span>?</span></div>
        </div> -->
        <!-- <div class="bar flex">
          <div class="bar-fill" style="width:97%"><span><span class="d-none d-md-inline">LINUX / MAC OS / WINDOWS</span> ENVIRONMENTS</span></div>
        </div> -->
      </div>
      <!-- <div class="row">
        <div class="col-12">
          <h2 class="pl-5 pt-3">HOBBIES & PASSIONS</h2>
        </div>
      </div>
      <div id="logos" class="row justify-content-center">
        <div class="col-3 text-center p-3"><i class="fas fa-table-tennis"></i><span class="d-none">Tennis</span></div>
        <div class="col-3 text-center p-3"><i class="fas fa-bullseye"></i><span class="d-none">Archery</span></div>
        <div class="col-3 text-center p-3"><i class="fas fa-music"></i><span class="d-none">Music</span></div>
        <div class="col-3 text-center p-3"><i class="fas fa-robot"></i><span class="d-none">Robotics</span></div>
        <div class="col-3 text-center p-3"><i class="fas fa-server"></i><span class="d-none">Cyber Security</span></div>
        <div class="col-3 text-center p-3"><i class="fas fa-memory"></i><span class="d-none">Building Computers</span></div>
        <div class="col-3 text-center p-3"><i class="fas fa-laptop-code"></i><span class="d-none">Coding</span></div>
      </div> -->
    </div>
  </body>
</html>
