<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Daily Page</title>
    <link rel="stylesheet" href="styles/daily.css">
  </head>
  <body>
    <%- include('partials/logo-large') %>
    <h1>COVERED TEXT</h1>


  </body>
</html>
