<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="styles/main.css">
    <title>Christopher McGregor</title>
  </head>

  <body>
  <nav id="mainNav" class="navbar navbar-dark navbar-expand-sm fixed-top py-0" aria-label="Toggle navigation">
    <a href="#welcome-msg" class="sender navbar-brand">
      <!-- <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"> -->
      <%- include('partials/logo-small') %>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target ="#navLinks">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navLinks">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#about-me" class="sender nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="#projects" class="sender nav-link">Projects</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="sender nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="welcome-msg" class="default-image">
    <div class="row welcome-banner">
      <%- include('partials/logo-large') %>
      <div id="appear-anim" class="col-12">
        Howdy, I'm <span class="name-emphasis"><strong>Christopher McGregor</strong></span>
        <a href="#about-me" class="sender">
          <div class="box-1">
            <div class="btn btn-one">
              <span>Check me out</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div id="about-me">
    <div class="row pt-5 justify-content-center">
      <div class="col-12 text-center">
        <h1>ABOUT ME</h1>
      </div>
    </div>
    <div class="underline"></div>
    <div class="row justify-content-center mt-5">
      <img src="imgs/penguin.jpg" class="d-none d-md-block col-3 profile-pic">
      <div class="col-9 text-center mb-5">
        <h5>I'm <span class="name-emphasis">Christopher</span>, a dog loving, piano playing, tech fanatic from Corpus Christi, Texas.
          Currently, I am a full time Senior Computer Science major, Cyber Security and Embedded Systems Integration minor at Texas A&M University College Station but
          I'm still not sure what I want to be <em>when I grow up</em> yet. My hobbies span from hardware and systems engineering, to software and web development and .. everything in between!
        </br>Keep scrolling to see some of my skills and recent projects. Thanks for checking out my website!
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 class="pl-5 pt-3">EXPERIENCE</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-12 text-center p-3 experience">Co-Founder: Aggie Web Developers</div>
      <div class="col-md-3 col-sm-12 text-center p-3 experience">Network Administration intern: WireStar Networks</div>
      <div class="col-md-3 col-sm-12 text-center p-3 experience">Mentor, Judge: FTC Robotics Team 10726</div>
      <!-- <div class="col-3 text-center p-3 experience">Words</div> -->
    </div>
    <div class="row">
      <div class="col-12">
        <h2 class="pl-5">TECHNICAL SKILLS</h2>
      </div>
    </div>
    <div class="flex">
      <div class="bar flex">
        <div class="bar-fill" style="width:82%"><span>HTML/CSS</span></div>
      </div>
      <div class="bar flex">
        <div class="bar-fill" style="width:90%"><span>C</span></div>
      </div>
      <div class="bar flex">
        <div class="bar-fill" style="width:92%"><span>C++</span></div>
      </div>
      <div class="bar flex">
        <div class="bar-fill" style="width:87%"><span>JAVASCRIPT</span></div>
      </div>
      <div class="bar flex">
        <div class="bar-fill" style="width:85%"><span>SHELL SCRIPTING</span></div>
      </div>
      <div class="bar flex">
        <div class="bar-fill" style="width:97%"><span><span class="d-none d-md-inline">LINUX / MAC OS / WINDOWS</span> ENVIRONMENTS</span></div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-12">
        <h2 class="pl-5 pt-3">HOBBIES & PASSIONS</h2>
      </div>
    </div>
    <div id="logos" class="row justify-content-center">
      <div class="col-3 text-center p-3"><i class="fas fa-table-tennis"></i><span class="d-none">Tennis</span></div>
      <div class="col-3 text-center p-3"><i class="fas fa-bullseye"></i><span class="d-none">Archery</span></div>
      <div class="col-3 text-center p-3"><i class="fas fa-music"></i><span class="d-none">Music</span></div>
      <div class="col-3 text-center p-3"><i class="fas fa-robot"></i><span class="d-none">Robotics</span></div>
      <div class="col-3 text-center p-3"><i class="fas fa-server"></i><span class="d-none">Cyber Security</span></div>
      <div class="col-3 text-center p-3"><i class="fas fa-memory"></i><span class="d-none">Building Computers</span></div>
      <div class="col-3 text-center p-3"><i class="fas fa-laptop-code"></i><span class="d-none">Coding</span></div>
    </div> -->
  </div>

  <div id="projects">
    <div class="row pt-5 justify-content-center">
      <div class="col-12 text-center">
        <h1>PROJECTS</h1>
      </div>
    </div>
    <div class="underline"></div>
    <div class="row justify-content-center">
      <div class="card col-md-6 col-lg-4">
          <div class="face face1">
              <div class="content">
                  <img src="imgs/project-cards/marbleamerica.png">
                  <h3>marbleamericaonline.com</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Client website
                  </br>HTML/CSS/JavaScript built on top of bigcommerce store
                  </p>
                  <a target="_blank" href="https://www.marbleamericaonline.com">Site</a>
              </div>
          </div>
      </div>
      <div class="card col-md-6 col-lg-4">
          <div class="face face1">
              <div class="content">
                  <img src="imgs/project-cards/brlcad.png">
                  <h3>BRLCAD</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Updated 'art' tool in BRLCAD 3d modeling software to support Physically Based Rendering
                  with appleseed engine
                  </p>
                  <a target="_blank" href="https://github.com/BRL-CAD/brlcad">Github</a>
                  <a target="_blank" href="https://www.brlcad.org">BRLCAD</a>
                  <a target="_blank" href="https://www.appleseedhq.net">appleseed</a>
              </div>
          </div>
      </div>
      <div class="card col-md-6 col-lg-4">
          <div class="face face1">
              <div class="content">
                  <img src="imgs/project-cards/allstar.png">
                  <h3>Ham Radio via VoIP</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Built Allstar node on a Rasberry pi which allows ham radio
                    operation to anyone in the world over the internet
                  </p>
                  <a target="_blank" href="https://allstarlink.org">Allstar</a>
              </div>
          </div>
      </div>
      <!-- <div class="card col-md-6 col-lg-4">
          <div class="face face1">
              <div class="content">
                  <img src="imgs/website.png">
                  <h3>mcgregorc.com</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>This site. <br>Mongo, Express, Node with Bootstrap styling
                  </br>Hosted on my own server</p>
                  <a target="_blank" href="https://github.com/f4alt/Personal-Website">Github Repo</a>
              </div>
          </div>
      </div> -->
      <div class="card col-md-6 col-lg-4">
          <div class="face face1">
              <div class="content">
                  <img src="imgs/project-cards/website.png">
                  <h3>mcgregorc.com</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>This site. <br>Mongo, Express, Node website with Bootstrap styling
                  </br>Hosted on my own server</p>
                  <a target="_blank" href="https://github.com/f4alt/Personal-Website">Github Repo</a>
              </div>
          </div>
      </div>
    </div>
  </div>

  <div id="contact">
    <div class="row pt-5 justify-content-center">
      <div class="col-12 text-center">
        <h1>GET IN TOUCH</h1>
      </div>
    </div>
    <div class="underline"></div>
  <div class="container mt-3 mb-5">
  <form id="contact-form" method="post" action="/contact" role="form">
    <label for="fname">Name</label>
    <input type="text" id="fname" name="name" placeholder="Your name.." class="form-control" required="required"
                                    data-error="Valid email is required.">

    <label for="email">Email</label>
    <!-- <input type="text" id="email" name="email" placeholder="Your email.."> -->

    <input id="email" type="email" name="email" placeholder="Your email.." class="form-control" required="required"
                                    data-error="Valid email is required.">

    <label for="message">Question / Comment / Concern</label>
    <textarea id="message" name="message" placeholder="Write something.." style="height:200px"></textarea>

    <div class="g-recaptcha pb-2" data-sitekey="6LfYRQUeAAAAAMZbgPBxE9C9JnmTarjD9lqpxRIb"></div>

    <div class="submit_block">
      <input type="submit" value="Submit">

      <ul id="submit_messages">
        <li> <%= msg %> </li>
      </ul>
    </div>

  </form>
</div>
</div>

  <div class="send-top text-center">
    <a href="#welcome-msg" class="sender" title="send top"><i class="fas fa-angle-up"></i></a>
  </div>

  <div class="footer mt-5 pt-5">
    <div class="footer-content text-center">
      <a alt="github" title="github" target="_blank" href="http://github.com/f4alt"><i class="fab fa-github"></i></a>
      <a alt="linkedin" title="linkedin" target="_blank" href="http://linkedin.com"><i class="fab fa-linkedin"></i></a>
      <a alt="resume" title="resume" target="_blank" href="Christopher_McGregor-Resume.pdf"><i class="far fa-sticky-note"></i></a>
    </div>
    <div class="footer-bottom">
      CHRISTOPHER MCGREGOR &copy;2020
    </div>
  </div>

    <!-- jQuery, Popper.js, Bootstrap JS, fontawesome, google recaptcha, then local scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5afcb3563e.js" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="scripts/index.js" type="text/javascript"></script>
    <script>
      navbarFill();
      randombg();
      itemHover();
    </script>
  </body>
</html>
