DOMAIN="EXAMPLE.com"

DEPLOY_USER="EXAMPLE"
WEB_USER="www-data"

REPO_URL="https://github.com/f4alt/Personal-Website.git"
APP_DIR="/home/$DEPLOY_USER/Personal-Website"

LETSENCRYPT_EMAIL="email@EXAMPLE.com"

DOCROOT="/var/www/$DOMAIN"
