<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="styles/main.css">
    <title>Christopher McGregor</title>
  </head>
  <body>
    <div class="row pt-5 justify-content-center">
      <div class="col-12 text-center">
        <h1>A2, Commonalities</h1>
      </div>
    </div>
    <div class="underline"></div>

    <div class="row">
      <div class="col-12">
        <div class="p-5 m-5">
          Having such a small sample pool (of closely related student), it is
          no surprise to notice so many commanlities when comparing all of
          my classmates. Most people want are taking this class for some form
          of growth; either ethically, personally, or some mix of the two.
          On the media intake side, some general trends I noticed were the
          gamers, content watchers watchers, and phone fenatics to name a few.
        </div>
        <div class="p-5 m-5">
          <h2 class="pb-5">The following are classmates which I found overlapped
            with my interests:</h2>
          <!-- Section -->
          <h3>Gaming (strategy and shooting games)</h3>
          <ul>
            <li><a href="https://sites.google.com/view/zrrcsce656/home">
              Rongruo Zhou
            </a>
            : CS:GO</li>
            <li><a href="https://sites.google.com/tamu.edu/computersandnewmedia/">
              Charlie Horton
            </a>
            : Civ, general shooters</li>
            <li><a href="http://people.tamu.edu/~treydinges/index.html">
              Trey Dinges
            </a>
            : Car soccer, Rainbow six, CS:GO</li>
          </ul>
          <!-- Section -->
          <h3>Watching (YouTube / Netflix / TV)</h3>
          <ul>
            <li><a href="https://sites.google.com/view/zachary-lawton-csce-445/media">
               Zachary Lawton
            </a>
            : Sports channels</li>
            <li><a href="https://landonpalmer.com/csce445.html">
              Landon Palmer
            </a>
            : anime and sitcoms</li>
            <li><a href="https://sites.google.com/tamu.edu/ims43-csce445">
              Ian Stephenson
            </a>
            : Gueen's Gambit, Breaking Bad</li>
          </ul>
          <!-- Section -->
          <h3>Social Media</h3>
          <ul>
            <li><a href="https://jrinosa68.github.io/CSCE445/">
              Jason Rinosa
            </a>
            : Snapchat</li>
            <li><a href="https://asegu117.wixsite.com/my-site">
              Anjali Segu
            </a>
            : Instagram, Discord</li>
            <li><a href="http://people.tamu.edu/~treydinges/index.html">
              Yuncheng Yu
            </a>
            : Instagram</li>
            </ul>
            <!-- Section -->
            <h3>Phone users</h3>
            <ul>
              <li><a href="https://people.engr.tamu.edu/shipman/courses/cnm/students.html">
                Everyone!
              </a>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </body>
</html>
